/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID]
      ,[Name]
      ,[UserName]
      ,[Password]
      ,[Email]
      ,[Gender]
      ,[Skills]
      ,[DateOfBirth]
  FROM [OOP2DB].[dbo].[employee] where ID=1004
  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID]
      ,[Name]
      ,[UserName]
      ,[Password]
      ,[Email]
      ,[Gender]
      ,[Skills]
      ,[DateOfBirth]
  FROM [OOP2DB].[dbo].[employee]